<div class="form-group">
    <label for="name" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
        <input type="text" ng-model="game.name" class="form-control" id="name" placeholder="Game Name"/>
    </div>
</div>
<div class="form-group">
    <label for="description" class="col-sm-2 control-label">Description</label>
    <div class="col-sm-10">
        <input type="text" ng-model="game.description" class="form-control" id="description" placeholder="Game Description"/>
    </div>
</div>
<div class="form-group">
    <label for="duration" class="col-sm-2 control-label">Duration</label>
    <div class="col-sm-10">
        <input type="text" ng-model="game.duration" class="form-control" id="duration" placeholder="Game Duration"/>
    </div>
</div>
<div class="form-group">
    <label for="MinNumberOfPlayers" class="col-sm-2 control-label">Minumum Number of Players</label>
    <div class="col-sm-10">
        <input type="text" ng-model="game.minPlayers" class="form-control" id="minNumberOfPlayers" placeholder="How many people can play this game?"/>
    </div>
</div>
<div class="form-group">
    <label for="maxNumberOfPlayers" class="col-sm-2 control-label">MaxunynNumber of Players</label>
    <div class="col-sm-10">
        <input type="text" ng-model="game.maxPlayers" class="form-control" id="maxNumberOfPlayers" placeholder="How many people can play this game?"/>
    </div>
</div>
<div class="form-group">
    <label for="depth" class="col-sm-2 control-label">Genre</label>
    <div class="col-sm-10">
        <input type="text" ng-model="geme.genre" class="form-control" id="genre" placeholder="Game genre"/>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Save"/>
    </div>
</div>
